---
import Layout from '../layouts/main.astro';
import Map from '~components/Map.svelte';
import '~styles/fonts.css';
import '~styles/global.css';
import 'leaflet/dist/leaflet.css';

const location = { latitude: 47.74328116552683, longitude: 8.95500133471874 };

/* import * as L from 'leaflet';

var map = L.map('map').setView([47.74328116552683, 8.95500133471874], 14);

L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
	maxZoom: 18,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

var marker = L.marker([47.74328116552683, 8.95500133471874]).addTo(map);
marker
	.bindPopup(
		"<div><b>Privater Automarkt</b><br>Herrenlandstrasse 39<br>78315 Radolfzell<br><img src='MapPopupSmall.jpg'/></div>"
	)
	.openPopup(); */
---

<Layout>
	<div class="container">
		<h1>🚀 Astro Location Map with Leaflet</h1>
		<section class="wrapper">
			<h2>We are here:</h2>
			<Map client:load {location} zoom={14} markerMarkup="<p>We are here!</p>" />
		</section>
	</div>
	<style>
		.container {
			background-color: var(--colour-light);
			border-radius: var(--spacing-1);
			padding: var(--spacing-8);
			width: min(100% - var(--spacing-16), var(--max-width-wrapper));
			margin: var(--spacing-16) auto;
		}

		.container h1 {
			padding: var(--spacing-0) var(--spacing-8);
		}

		.wrapper {
			display: grid;
			place-items: center;
			background-color: var(--colour-brand);
			border: var(--spacing-px) solid var(--colour-alt);
			border-radius: var(--spacing-px);
			padding: var(--spacing-8) auto;
			margin: var(--spacing-8);
		}
	</style>
</Layout>
